%p
  FreeCinc was a publicly hosted taskd instance, but is now being shut down.

%p
  See
  %a{href: "https://github.com/freecinc/freecinc-issues/issues/20"} this GitHub issue
  for more information.
